pkgbase = obs-build
	pkgdesc = OBS build script, can be used with OBS or stand alone
	pkgver = 20240612
	pkgrel = 1
	url = https://github.com/openSUSE/obs-build
	arch = any
	license = GPL-2.0-only
	license = GPL-3.0-only
	depends = perl
	source = obs-build-20240612.tar.gz::https://github.com/openSUSE/obs-build/archive/20240612.tar.gz
	sha256sums = ff9ab87a29291348d566f3305335fc245b051a2fbd63159287d855638d0aa9fd

pkgname = obs-build
