pkgbase = obs-build
	pkgdesc = OBS build script, can be used with OBS or stand alone
	pkgver = 20240913
	pkgrel = 1
	url = https://github.com/openSUSE/obs-build
	arch = any
	license = GPL-2.0-only
	license = GPL-3.0-only
	depends = perl
	source = obs-build-20240913.tar.gz::https://github.com/openSUSE/obs-build/archive/20240913.tar.gz
	sha256sums = b10fb10d6c4b924c729ac6ae1aa3b19c0d7ed6c11604063f3b6852df42b8d51d

pkgname = obs-build
